
{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}


{% block content %}
      

<div class="panel panel-info">
      <div class="panel-heading">
            <h2 class="panel-title"><center>PROYECCION EN TIEMPO REAL Y DIAGRAMA DE BARRAS </center></h2>       
     </div>


    <div class="panel-body">
        <!-- ######################################################################  -->
        <div class="row">
             


            	 <div class="col-md-12">
               		 <div class="thumbnail">                                    
		                    <div class="caption">
        		                    <h4><center>PROYECCIONES</center></h4>
                                <br>
                                <h4><center>DIAGRAMA DE BARRAS</center></h4>
                                
		                    </div>  

                     </div>
                 </div>


               
        </div>
 

     </div>
</div>

                
 

{% endblock %}
