
{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}


{% block content %}
      

<div class="panel panel-info">
      <div class="panel-heading">
            <h2 class="panel-title"><center>DATOS GENERALESDEL ESTUDIO</center></h2>       
     </div>


    <div class="panel-body">
       <div class="row">             
          	 <div class="col-md-12">
               	 <div class="thumbnail">                                    
		             <div class="caption">

                 <br>
                  <center> <h2 class="panel-title">DISTRIBUCION POR SEXO</h2></center>

                  <center>
                         <table BORDER="1" CELLSPACING="1">              
                                

                                <tr  align="center">
                                    <td WIDTH="150">SEXO MASCULINO: {{ masculino}} % </td>
                                </tr >
                                <tr  align="center">
                                     <td WIDTH="150"> SEXO FEMENINO {{ femenino}} % </td>                                 
                                </tr >
                           
                     </table>
                  </center>

                  <br>

                   <center> <h2 class="panel-title">DISTRIBUCION POR EDAD</h2></center>

                  <center>
                         <table BORDER="1" CELLSPACING="1">              
                                <tr  align="center">
                                    <td WIDTH="150"> JOVENES:{{joven}} % </td>                                  
                                </tr >
                                <tr  align="center">                                    
                                    <td WIDTH="150">  JOVEN ADULTO :{{joven_adulto}} % </td>
                                </tr >
                                  <tr  align="center">                                    
                                     <td WIDTH="150"> ADULTO:{{adulto}} % </td>
                                 </tr >
                                  <tr  align="center">                                    
                                    <td WIDTH="150">  ADULTO MAYOR:{{adulto_mayor}} % </td>
                                 </tr >
                                  <tr  align="center">                                   
                                     <td WIDTH="150"> ANCIANOS:{{anciano}} % </td>
                                  </tr >                           
                     </table>
                  </center>

                  <br>


                   <center> <h2 class="panel-title">DISTRIBUCION POR NIVEL EDUCATIVO</h2></center>

                  <center>
                         <table BORDER="1" CELLSPACING="1">              
                                <tr  align="center">
                                    <td WIDTH="150">SIN ESTUDIOS={{no_estudio}} % </td>
                                       </tr >
                                <tr  align="center">
                                    <td WIDTH="150">  EDUCACION BASICA = {{educacion_basica}} % </td>
                                      </tr >
                                <tr  align="center">
                                    <td WIDTH="150"> BACHILLERES = {{bachillerrato}} % </td>
                                      </tr >
                                <tr  align="center">
                                      <td WIDTH="150">  ESTUDIOS UNIVERSITARIOS = {{estudios_universitarios}} % </td>
                                </tr >
                                <tr  align="center">
                                      <td WIDTH="150"> PROFESIONALES = {{ profesional}} % </td>
                                </tr >


                           
                     </table>
                  </center>

                  <br>
                   <center> <h2 class="panel-title">DISTRIBUCION POR IDNIVEL SOCIO ECONOMICO</h2></center>

                  <center>
                         <table BORDER="1" CELLSPACING="1">              
                                <tr  align="center">
                                    <td WIDTH="150"> DESEMPELADOS = {{ desempleado}} % </td>
                                    </tr >
                                <tr  align="center">
                                        <td WIDTH="150">  NEGOCIO PROPIO = {{ negocio_propio}} % </td>
                                       
                                </tr >
                                <tr  align="center">
                                    <td WIDTH="150">  EMPLEADO PUBLICO = {{empleado_publico}} % </td>
                                    
                                </tr >
                                <tr  align="center">
                                         <td WIDTH="150">  EMPLEADO PRIVADO = {{ empleado_privado}} % </td>
                                                             
                                </tr >
                                <tr  align="center">
                                      <td WIDTH="150"> TRABAJA LA TIERRA = {{ trabajo_la_tierra}} % </td>
                              
                                </tr >
                           
                     </table>
                  </center>

                  <br>

                   <center> <h2 class="panel-title">DISTRIBUCION POR PREFERENCIA</h2></center>

                  <center>
                         <table BORDER="1" CELLSPACING="1">              
                                <tr  align="center">
                                    <td WIDTH="150"> FML = {{ fml}} % </td>
                                    
                                </tr >
                                <tr  align="center">                                   
                                    <td WIDTH="150">  GAN = {{ gan}} % </td>                                    
                                                                     
                                </tr >
                                <tr  align="center">                                    
                                    <td WIDTH="150">  VAMO = {{ vamo}} % </td>
                                    
                                                                     
                                </tr >
                                <tr  align="center">                                    
                                    <td WIDTH="150">  AREN = {{ aren}} % </td>
                                    
                                                                     
                                </tr >
                                <tr  align="center">                                 
                                    <td WIDTH="150"> PC = {{ pc}} % </td>
                                    
                                                                     
                                </tr >
                                <tr  align="center">                                  
                                    <td WIDTH="150">  PD = {{ pd}} % </td>
                                    
                                                                     
                                </tr >
                                <tr  align="center">                                   
                                    <td WIDTH="150"> DSV = {{ dsv}} % </td>
                                                                     
                                </tr >

                                <tr  align="center">                                   
                                    <td WIDTH="150"> NS/NR = {{ ns_nr}} % </td>
                                                                     
                                </tr >
                           
                     </table>
                  </center>
  

                                                                                      
		             </div>  

                </div>
             </div>


               
        </div>
      </div>


</div>

{% endblock %}
