
{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}


{% block content %}
      

<div class="panel panel-info">
      <div class="panel-heading">
            <h2 class="panel-title"><center>DATOS GENERALESDEL ESTUDIO</center></h2>       
     </div>


    <div class="panel-body">
       <div class="row">             
          	 <div class="col-md-12">
               	 <div class="thumbnail">                                    
		             <div class="caption">

                 <br>
                  <center> <h2 class="panel-title">DISTRIBUCION POR SEXO</h2></center>

                  <center>
                         <table BORDER="1" CELLSPACING="1">              
                                

                                <tr  align="center">
                                    <td WIDTH="60">% SEXO MASCULINO: {{ masculino}}</td>
                                </tr >
                                <tr  align="center">
                                     <td WIDTH="60"> % SEXO MASCULINO: {{ femenino}}</td>                                 
                                </tr >
                           
                     </table>
                  </center>

                  <br>

                   <center> <h2 class="panel-title">DISTRIBUCION POR EDAD</h2></center>

                  <center>
                         <table BORDER="1" CELLSPACING="1">              
                                <tr  align="center">
                                    <td WIDTH="60">% JOVENES:{{joven}}</td>                                  
                                </tr >
                                <tr  align="center">                                    
                                    <td WIDTH="60"> % JOVEN ADULTO :{{joven_adulto}}</td>
                                </tr >
                                  <tr  align="center">                                    
                                     <td WIDTH="60">% ADULTO:{{adulto}}</td>
                                 </tr >
                                  <tr  align="center">                                    
                                    <td WIDTH="60"> % ADULTO MAYOR:{{adulto_mayor}}</td>
                                 </tr >
                                  <tr  align="center">                                   
                                     <td WIDTH="60">% ANCIANOS:{{anciano}}</td>
                                  </tr >                           
                     </table>
                  </center>

                  <br>

                   <center> <h2 class="panel-title">DISTRIBUCION POR NIVEL EDUCATIVO</h2></center>

                  <center>
                         <table BORDER="1" CELLSPACING="1">              
                                <tr  align="center">
                                    <td WIDTH="60">% SIN ESTUDIOS={{ datos.no_estudio}}</td>
                                       </tr >
                                <tr  align="center">
                                    <td WIDTH="60"> % EDUCACION BASICA = {{datos.educacion_basica}}</td>
                                      </tr >
                                <tr  align="center">
                                    <td WIDTH="60">% BACHILLERES = {{datos.bachillerrato}}</td>
                                      </tr >
                                <tr  align="center">
                                      <td WIDTH="60"> % ESTUDIOS UNIVERSITARIOS = {{datos.estudios_universitarios}}</td>
                                </tr >
                                <tr  align="center">
                                      <td WIDTH="60">% PROFESIONALES = {{ datos.profesional}}</td>
                                </tr >


                           
                     </table>
                  </center>

                  <br>
                   <center> <h2 class="panel-title">DISTRIBUCION POR IDNIVEL SOCIO ECONOMICO</h2></center>

                  <center>
                         <table BORDER="1" CELLSPACING="1">              
                                <tr  align="center">
                                    <td WIDTH="60">% DESEMPELADOS = {{ datos.desempleado}}</td>
                                    </tr >
                                <tr  align="center">
                                        <td WIDTH="60"> % NEGOCIO PROPIO = {{ datos.negocio_propio}}</td>
                                       
                                </tr >
                                <tr  align="center">
                                    <td WIDTH="60"> % EMPLEADO PUBLICO = {{ datos.empleado_publico}}</td>
                                    
                                </tr >
                                <tr  align="center">
                                         <td WIDTH="60"> % EMPLEADO PRIVADO = {{ datos.empleado_privado}}</td>
                                                             
                                </tr >
                                <tr  align="center">
                                      <td WIDTH="60">% TRABAJA LA TIERRA = {{ datos.trabajo_la_tierra}}</td>
                              
                                </tr >
                           
                     </table>
                  </center>

                  <br>

                   <center> <h2 class="panel-title">DISTRIBUCION POR PREFERENCIA</h2></center>

                  <center>
                         <table BORDER="1" CELLSPACING="1">              
                                <tr  align="center">
                                    <td WIDTH="60">% FML = {{ datos.fml}}</td>
                                    
                                </tr >
                                <tr  align="center">                                   
                                    <td WIDTH="60"> % GAN = {{ datos.gan}}</td>                                    
                                                                     
                                </tr >
                                <tr  align="center">                                    
                                    <td WIDTH="60"> % VAMO = {{ datos.vamo}}</td>
                                    
                                                                     
                                </tr >
                                <tr  align="center">                                    
                                    <td WIDTH="60"> % AREN = {{ datos.aren}}</td>
                                    
                                                                     
                                </tr >
                                <tr  align="center">                                 
                                    <td WIDTH="60">% PC = {{ datos.pc}}</td>
                                    
                                                                     
                                </tr >
                                <tr  align="center">                                  
                                    <td WIDTH="60"> % PD = {{ datos.pd}}</td>
                                    
                                                                     
                                </tr >
                                <tr  align="center">                                   
                                    <td WIDTH="60"> % DSV = {{ datos.dsv}}   </td>
                                                                     
                                </tr >
                           
                     </table>
                  </center>
  

                                                                                      
		             </div>  

                </div>
             </div>


               
        </div>
      </div>


</div>

{% endblock %}
