
{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}


{% block content %}
      

<div class="panel panel-info">
      <div class="panel-heading">
            <h2 class="panel-title"><center>RESULTADO DEPARTAMENTAL</center></h2>       
     </div>


    <div class="panel-body">
       <div class="row">             
          	 <div class="col-md-12">
               	 <div class="thumbnail">                                    
		             <div class="caption">
        		        <center><div class="container">
                               <img src="/cruce_de_datos/{{depto}}">
                             

                               
                        </div></center>
                        <br>

                                                                                      
		             </div>  

                </div>
             </div>


               
        </div>
      </div>


</div>

{% endblock %}
