{% extends "base.html" %}


{% block content %}

{% load staticfiles %} 

    

<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center>INFORMACION DE INTERES </center></h2>             
      </div>

    <div class="panel-body">
            <div class="row">

             <div class="col-md-6">
                <div class="thumbnail"> 
                  <center> <a href=".">  <img src ='{% static "logo.gif" %}' alt='img' > </a> </center>    
                                           
                  <div class="caption">


                  <h4><center>ECCOPES EL SALVADOR</center></h4>   
                    <br>
                  </div>                     
                  <p>Nos caracterizamos por ser pioneros en el área de la investigación</p>
                                 
                  <br>
                  <p>En esta ocasión queremos llevar información en tiempo real hasta la palma de tu mano, hasta la comodidad de tu hogar o hasta donde quiera que te encuentres</p>                                   
                  <br>
                  <p>Contamos con un staff de personal confiable distribuido a lo largo y ancho del lugar donde ocurren los sucesos que te interesan. La información es confiable, pues hemos nacido con la intención de romper los viejos esquemas informativos, Ahora tienes información real y precisa...</p>                  

                  <br>
                </div> 
            </div>

<div class="col-md-6">
                <div class="thumbnail"> 
                         <h4><center><p>COMO FUNCIONA EL SISTEMA</p></center></h4>               
                  <div class="caption">
                   <br>
                    <p> En esta aplicación o página web se muestran datos en tiempo real<p>
                     <br>
                    <h4><center> <p> PLAN BASICO $10.00 </p></center></h4>  
                       <p> Actualización cada 60 minutos<p>
                      
                      <br>

                     <h4><center><p> PLAN INTERMEDIO $17.50 </p></center></h4>  
                        <p> Actualización cada 30 minutos<p>
                        
                    <br>

                     <h4><center><p> PLAN PRIVILEGIADO $35.00 </p></center></h4>  
                        <p> Actualización cada 10 minutos</p>
                       
                       

                    <br>   
                    <h4><center> <p> FORMA DE PAGO </p></center></h4>  
                    <p> En efectivo con el personal autorizado por ECOPES</p>
                    <p> Transferencia Bancaria BANCO AGRICOLA COMERCIAL CTA: 03720486465 A nombre de Ernesto Vladimir Valdez Rivas
                   <br>

                    <h4><center> <p> DE ALTA EN EL SISTEMA </p></center></h4>  

                    <p> Envia una fotografia del comprobante de pago al numero telefonico :503 78218224 inmediatamente despues activaremos la cuenta que  seleccionaste</p>
                   

                   <br>
                      

                </div>
            </div>
</div>



        </div>
  </div>
  </div>
        

{% endblock %}