
{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}


{% block content %}
      

<!-- ######################################################################  -->
        <div class="row">
             	<div class="col-md-3">
            	</div>


            	 <div class="col-md-6">
               		 <div class="thumbnail">                                    
		                    <div class="caption">
		                    <br>
		                    <h4><center>ECOPES</center></h4>
                        <h4><center> Sigue este evento politico minuto a minuto</center></h4> 

                        <br>  
                        <p>Recolectamos datos de todo el pais</p>
                        <br>
                        <p>Obten un plan:  </p>
                        </p>PLAN INDIVIDUAL 1 cuenta por $15.00 actualiza cada hora</p>
                        <br>
                        </p>PLAN BASICO 2 cuentas por $25.00 actualiza a cada hora</p>
                        <br>

                        </p>PLAN INTERMEDIO 3 cuentas por $50.00 actualiza cada 30 horas</p>
                        <br>

                        </p>PLAN PREVILEGIADO 3 cuentas por $100.00 actualiza cada 10 minutos</p>
                        <br>
                                     	       
                        <li><a href="/poner_graficos_en_pantalla/tendencias">Ver Grafico de Tendencias Nacional</a></li>
                         <br>

                         <li><a href="/poner_graficos_en_pantalla/barras">Ver Grafica de Barras Nacional</a></li>
                          <br>

                         <li><a href="/ingresar_datos_de_consulta">Ingresar Datos de encuesta</a></li>


                                                          
                        <br> 
                        

                        </div>  


                     </div>
                 </div>


               <div class="col-md-3">
               </div>
        </div>

         
        <!-- ######################################################################  -->








{% endblock %}
